body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 40px;
  color: white;
  font-weight: 700;
}

.position_relative{
  position: relative;
}

.my_btn{
  background-color: white;
  color: #006AFF;
}

.my_btn:hover{
  background-color: color: #006AFF;
  color: white;
}


.burger_icon{
  display: none;
}

ul{
  display: inline-block;
}

.list_item li{
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}

.list_item a{
  color: #727E98;
}



.header_top {
  height: 70px;
  padding: 0px 10px;
  line-height: 60px;
}

#logo {
  height: 100%;
  width: 100%;
  line-height: 60px;
}

.header_bottom {
  height: 100%;
  background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

.header_bottom p{
  color: #BBCDFF;
  font-size: 20px;
  font-weight: 600;
}

.white_box{
  margin: auto;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  background-color: white;
}















/* NOTE:MEDIA QUERY  */


@media screen and (max-width: 1200px) {




}

@media screen and (max-width: 1024px) {





}

@media screen and (max-width: 768px) {
  .menu{
    display: none;
  }

  .burger_icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: #2586FD;
    font-size: 20px;
}

}

@media screen and (max-width: 600px) {


}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}
