body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 40px;
  color: white;
  font-weight: 700;
}

h2{
  color: #031C4E;
  font-weight: 700;
}










.position_relative{
  position: relative;
}

.td_none a:hover{
  text-decoration: none;
}

.my_btn{
  background-color: white;
  color: #006AFF;
}

.my_btn:hover{
  background-color: color: #006AFF;
  color: white;
}

.burger_icon{
  display: none;
}

ul{
  display: inline-block;
  padding: 10px;
}

.list_item li{
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}

.list_item a{
  color: #727E98;
}

.header_top {
  height: 70px;
  padding: 0px 10px;
  line-height: 60px;
}

#logo {
  height: 100%;
  width: 100%;
  line-height: 60px;
}

.header_bottom {
  height: 100%;
  background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.header_bottom p{
  color: #BBCDFF;
  font-size: 20px;
  font-weight: 600;
}

.white_box{
  margin: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}
.white_box_text h3{
  color: #031C4E;
  font-size: 30px;
  font-weight: 700;
}

.white_box_text h3:last-child{
  color: #006AFF;
}

.login_input{
  width: 80%;
  height: 40px;
  margin: 10px auto;
}

.btn_account{
  line-height: 40px;
  display: inline-block;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  background-color: #579AFF;
  color: white;
  vertical-align: middle;
}

.sign_up{
  position: relative;
  margin: 10px 0;
  line-height: 40px;
  display: inline-block;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  padding: 5px 0;
  background-color: white;
  box-shadow: 2px 2px lightgrey;
}

.sign_up img{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%
}

.section_loghi{
  height: 100%;
  background-color: #F3F5F9;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  color: #6F7B97;
}
.section_loghi h5{
  font-weight: 700;
}
.section_loghi span{
  color: #4E95FD;
  font-weight: 600;
}

.img_logo{
  background-color: #F3F5F9;
  padding-top: 35px;
  width: 170px;
  height: 120px;
}

.img_logo img{
  width: 100%;
  height: 100%;
}

.deploy_and_scale{
  height: 100%;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  text-align: center;
}


.important_paragraph{
  color: #5C6A88;
  font-size: 20px;
  font-weight: 600;
  padding-right: 10px;
  padding-bottom: 50px;
}





.list_deploy{
  border-left: 1px solid #75809A;
  list-style: none;
  text-align: left;
}

.list_deploy li{
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}
.list_deploy li:first-child{
  padding-top: 5px;
}
.list_deploy li a{
  color: #75809A;
}

.deploy_and_scale img{
  display: block;
}

.deploy_and_scale h4{
  color: #031C4E;
  font-weight: 700;
  text-align: left;
}

.deploy_and_scale .section p{
  font-size: 15px;
  text-align: left;
}

.designed_for_developers{
  height: 1000px;
  text-align: center;
  padding-top: 40px;
  background-color: #F3F5F9;
}

.img_container{
  width: 100%;
  margin-bottom: 25px;
}

#big_img{
  max-width: 70%;
}

.chevron{
  font-size: 50px;
  margin: 0 30px;
}
.left{
  color: #6F7B97;
}
.right{
  color: #031C4E;
}

#text_img{
  color: #031C4E;
  font-size: 15px;
  font-weight: 600;
}

.bottom{
  display: inline-block;
  margin: 50px 2px;
  height: 12px;
  width: 12px;
  border-radius: 50px;
  border: 1px solid #006AFF;
  background-color: white;
}
.bottoms .bottom:first-child{
background-color: #006AFF;
}


































/* NOTE:MEDIA QUERY  */


@media screen and (max-width: 1200px) {




}

@media screen and (max-width: 1024px) {






}

@media screen and (max-width: 991px) {

  .menu{
    display: none;
  }


  .burger_icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: #2586FD;
    font-size: 20px;
}


}

@media screen and (max-width: 600px) {


}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}
